September 4, 2025

After creating my git repo and laying out what I wanted to with this project, I decided that the first thing I should do is get to know yfinance and how to use it to track different stock options as well as what types of data I would need to pull from each stock. But first, I'm going to pick the stocks I will use for my portfolio, and make sure that I can make it as diverse as possible in order to try and get all sectors of the S&P 500. 

Portfolio: 
- Electronic Arts (EA), Communication Services
- Garmin (GRMN), Consumer Discretionary
- General Mills (GIS), Consumer Staples
- Valero Energy (VLO), Energy
- Goldman Sachs (GS), Financials
- Boston Scientific (BSX), Health Care
- Uber (UBER), Industrials
- First Solar (FSLR), Information Technology
- Ecolab (ECL), Materials
- Iron Mountain (IRM), Real Estate
- Pinnale West Capital (PNW), Utilities

In order to receive the data of a ticker, I ended up using the yfinance.download() method in order to see a quick overview of the stock price. For example, if we wanted to see how in the last month Garmin had been priced we would use this function.

In [13]:
import yfinance as yf

ticker = yf.download('GRMN', period = '1mo')
ticker

/var/folders/jh/mb71x_yn4b13608h_ngddbhc0000gn/T/ipykernel_18175/3924883361.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  ticker = yf.download('GRMN', period = '1mo')
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker            GRMN        GRMN        GRMN        GRMN     GRMN
Date
2025-08-06  230.080002  231.649994  227.639999  229.610001   847600
2025-08-07  228.960007  234.160004  226.039993  233.279999   849800
2025-08-08  232.380005  234.130005  230.179993  231.250000   631000
2025-08-11  228.990005  233.179993  228.289993  232.419998   765900
2025-08-12  232.949997  233.139999  228.679993  229.880005   587200
2025-08-13  236.580002  236.740005  233.199997  234.000000   768100
2025-08-14  235.059998  237.039993  234.570007  235.550003   671100
2025-08-15  232.339996  235.929993  232.039993  235.929993   633800
2025-08-18  232.600006  232.669998  231.160004  232.300003   465700
2025-08-19  233.449997  234.580002  231.309998  231.970001   864200
2025-08-20  230.149994  233.929993  229.289993  232.720001   608000
2025-08-21  229.589996  230.270004  226.929993  228.770004   576000
2025-08-22  235.919998  236.550003  229.830002  231.259995   498800
2025-08-25  232.720001  236.029999  232.619995  236.029999   532500
2025-08-26  232.600006  233.309998  231.479996  232.710007  1224500
2025-08-27  235.529999  235.899994  231.490005  231.490005   602500
2025-08-28  241.050003  241.800003  235.820007  236.429993  1653100
2025-08-29  241.820007  243.000000  240.490005  241.070007  1246400
2025-09-02  234.289993  239.660004  231.740005  237.699997  1259200
2025-09-03  236.910004  238.089996  233.419998  234.240005   907200
2025-09-04  237.660004  240.970001  236.529999  238.190002   965600
2025-09-05  237.389999  239.910004  235.710007  238.479996   871900

Above we are shown the close, high, low, open and volume for Garmin in the last month, however I kept getting this warning and I wanted to know why. Apparently, the yf.download() method changed so that instead of showing the Adj close column for each ticker, it actually adjusts the rest of the columns for splits and dividends automatically so that we don't mix adjusted with raw prices. 

In this case, all we need to do is add one of the parameters within the download function and we should stop from receiving that error.

ticker = yf.download('GRMN', period = '1mo', auto_adjust=True)
ticker

Now that I figured out how to fetch the data from each stock, we can now start building the function that will pass any ticker and fetch their stock information from the past 5 years or from January 1st 2020 to January 1st 2025. We can create a parameter that will be passed on to the download function with all parameters specifically stated in order to fetch the data. This is what the function ended up looking like.

In [14]:
def fetch_stock(ticker):
    stock_data = yf.download((ticker), start='2020-01-01', end='2025-01-01', auto_adjust=True)
    stock_data.dropna(inplace=True)
    return stock_data

fetch_stock('EA')

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker              EA          EA          EA          EA       EA
Date
2020-01-02  104.463692  105.446630  103.899239  105.047620  1901000
2020-01-03  104.327446  104.862711  102.303188  102.750861  1840300
2020-01-06  105.865097  106.380894  103.772708  104.084132  2934200
2020-01-07  105.485558  106.322513  104.843247  106.079212  1692400
2020-01-08  106.556068  107.052404  104.891891  105.281174  2651600
...                ...         ...         ...         ...      ...
2024-12-24  148.608047  149.076247  146.446369  146.844844   778600
2024-12-26  148.498474  148.916862  147.382758  147.771262   883400
2024-12-27  147.552109  148.279321  146.466291  147.890817  1023500
2024-12-30  145.978165  146.924535  144.503843  146.585827  1152600
2024-12-31  145.739090  146.536026  145.171268  145.709206   918400

[1258 rows x 5 columns]

We can observe the data from any ticker now from the last five years and therefore continue to analyze each sets of data. 

Observations/Comments: 
- After creating the simple function to fetch data for any ticker, I can foresee creating a user friendly application of this project in which a user inputs a ticker string and adds it to their portfolio in which then data gets tracked and we can simulate real life earnings.
- I wonder which ticker attribute will be best to use when calculating the moving averages, I will definitely need to read up on finance notes or watch videos in order to understand a little more how to effectively and accurately track this data.

September 5, 2025 

Today my goals are to pick my short and long moving averages and create logic to automatically calculate both short and long MA's for each stock in the portfolio. After each MA's are calculated I will then create logic to create buy and sell signals based on crossovers and intersections. 

For my short moving average, I'm going to pick a 25 day MA (a little less than a month), and for my long MA I will be choosing 100 days (a little over 3 months), because I feel like these are ample enough times to create the best data. 

In order to calculate these, I'm thinking of creating a function that takes the stock dataframe as a parameter and adds a column for each stock with these values calculated. My plan is to look through the pandas docs in order to figure out how to create a new column and have it automaticaly fill each column out.

With pandas, we can easily calculate a moving average within a certain time period with the function .rolling(). We can combine this with the mean (which literally is just an average), and then append each result to a new column. For example, this is how it works:

In [15]:
# We first get the ticker data for a stock 
ticker = yf.download('EA', period='1y', auto_adjust=True)
ticker

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open   Volume
Ticker              EA          EA          EA          EA       EA
Date
2024-09-06  143.292694  146.616069  142.635993  145.183239  1785500
2024-09-09  143.581268  144.616082  143.034005  144.108627  1623100
2024-09-10  143.083755  144.436982  142.397190  143.720567  1205600
2024-09-11  142.984238  143.422048  140.118593  143.322541  1803500
2024-09-12  144.029022  144.407134  142.427041  143.531513  1206900
...                ...         ...         ...         ...      ...
2025-08-29  171.949997  172.539993  170.669998  171.229996  2090000
2025-09-02  171.449997  173.259995  169.800003  170.000000  2359200
2025-09-03  167.860001  171.960007  167.500000  170.960007  2753100
2025-09-04  168.029999  168.289993  165.529999  168.169998  3410800
2025-09-05  168.619995  169.320007  166.779999  168.839996  2205500

[250 rows x 5 columns]

In [16]:
# Once we have the data we can create a function that appends the short MA 
# Typically, a MA is calculated using the closing price so we'll be adding the 'Close' column
shortMA = ticker['Close'].rolling(window=20).mean()
ticker['Short MA'] = shortMA
ticker

Price,Close,High,Low,Open,Volume,Short MA
Ticker,EA,EA,EA,EA,EA,
Date,,,,,,
2024-09-06,143.292694,146.616069,142.635993,145.183239,1785500,NaN
2024-09-09,143.581268,144.616082,143.034005,144.108627,1623100,NaN
2024-09-10,143.083755,144.436982,142.397190,143.720567,1205600,NaN
2024-09-11,142.984238,143.422048,140.118593,143.322541,1803500,NaN
2024-09-12,144.029022,144.407134,142.427041,143.531513,1206900,NaN
...,...,...,...,...,...,...
2025-08-29,171.949997,172.539993,170.669998,171.229996,2090000,170.585075
2025-09-02,171.449997,173.259995,169.800003,170.000000,2359200,171.177888
2025-09-03,167.860001,171.960007,167.500000,170.960007,2753100,171.530267
2025-09-04,168.029999,168.289993,165.529999,168.169998,3410800,171.790758
2025-09-05,168.619995,169.320007,166.779999,168.839996,2205500,172.093234

As we can see the first couple of values should be 'NaN' because we don't have the data of the previous 20 days, but now our dataframe has been automatically updated to have the short MA for each day. Now that we have this logic figured out, we can now construct our full functions to calculate and fill out new columns for short and long MA, for each stock in our portfolio. 

Our functions ended up looking like this:

In [17]:
def calculate_short_MA(ticker_data): 
    shortMA = ticker_data['Close'].rolling(window=25).mean()
    ticker_data['Short MA'] = shortMA
    
def calculate_long_MA(ticker_data): 
    longMA = ticker_data['Close'].rolling(window=100).mean()
    ticker_data['Long MA'] = longMA

# We can test out these with a stock from our portfolio 

ticker = yf.download('EA', start='2020-01-01', end='2025-01-01', auto_adjust=True)
calculate_short_MA(ticker)
calculate_long_MA(ticker)
ticker

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume,Short MA,Long MA
Ticker,EA,EA,EA,EA,EA,,
Date,,,,,,,
2020-01-02,104.463692,105.446630,103.899239,105.047620,1901000,NaN,NaN
2020-01-03,104.327446,104.862711,102.303188,102.750861,1840300,NaN,NaN
2020-01-06,105.865097,106.380894,103.772708,104.084132,2934200,NaN,NaN
2020-01-07,105.485558,106.322513,104.843247,106.079212,1692400,NaN,NaN
2020-01-08,106.556068,107.052404,104.891891,105.281174,2651600,NaN,NaN
...,...,...,...,...,...,...,...
2024-12-24,148.608047,149.076247,146.446369,146.844844,778600,160.354540,150.127500
2024-12-26,148.498474,148.916862,147.382758,147.771262,883400,159.682379,150.166575
2024-12-27,147.552109,148.279321,146.466291,147.890817,1023500,158.949277,150.193901
2024-12-30,145.978165,146.924535,144.503843,146.585827,1152600,158.103070,150.218606
2024-12-31,145.739090,146.536026,145.171268,145.709206,918400,157.299041,150.214982

As we can see, our functions ended up working and now we have to create the logic in order to store where each moving average crosses or intersects. My first thought was to store a list of dates in which the averages would cross, but in order to create buy/sell signals we need to know the information around that date so instead I'm going to go ahead and decide to create booleans in order to act like a switch. Once that switch is triggered, then we know there was a crossover and it'll be easier to create the buy/sell logic. 

After playing around and trying to figure this out, I was trying to create a function in which it checks whether a boolean changes, and if it does for it to check the last 30 days to see if this was a whipsaw or a trend instead of a pattern, but I realize I can create much more simple logic if I create two more columns in each stock's data frame that check a simple boolean, and then can look at the data as a whole. Therefore, checking to see whether the switch had triggered multiple times in a short period would be easier, because it turns into a 'has this column been true for the last 30 days or has it flipped'. 

We start by creating these next two columns in our stock dataframe:

In [18]:
buy_signal = ticker['Short MA'] > ticker['Long MA']
ticker['Buy Boolean'] = buy_signal
ticker['Sell Boolean'] = ~buy_signal
ticker

Price,Close,High,Low,Open,Volume,Short MA,Long MA,Buy Boolean,Sell Boolean
Ticker,EA,EA,EA,EA,EA,,,,
Date,,,,,,,,,
2020-01-02,104.463692,105.446630,103.899239,105.047620,1901000,NaN,NaN,False,True
2020-01-03,104.327446,104.862711,102.303188,102.750861,1840300,NaN,NaN,False,True
2020-01-06,105.865097,106.380894,103.772708,104.084132,2934200,NaN,NaN,False,True
2020-01-07,105.485558,106.322513,104.843247,106.079212,1692400,NaN,NaN,False,True
2020-01-08,106.556068,107.052404,104.891891,105.281174,2651600,NaN,NaN,False,True
...,...,...,...,...,...,...,...,...,...
2024-12-24,148.608047,149.076247,146.446369,146.844844,778600,160.354540,150.127500,True,False
2024-12-26,148.498474,148.916862,147.382758,147.771262,883400,159.682379,150.166575,True,False
2024-12-27,147.552109,148.279321,146.466291,147.890817,1023500,158.949277,150.193901,True,False
2024-12-30,145.978165,146.924535,144.503843,146.585827,1152600,158.103070,150.218606,True,False
2024-12-31,145.739090,146.536026,145.171268,145.709206,918400,157.299041,150.214982,True,False

Using these two new columns, we can now make it simpler to create our buy and sell logic in which we can store and then pass on to our functions for tomorrow in which we will simulate our portfolio based on these simulated trades. Now is when I would want to create an array of dates where I would hypothetically 'buy' or 'sell' in order to simulate my portfolio's earnings. This should just be an easy functions that looks like this:

In [25]:
buy_signal = (ticker['Buy Boolean'].diff() == 1)
sell_signal = (ticker['Buy Boolean'].diff() == -1)
buy_dates = ticker.loc[buy_signal]
sell_dates = ticker.loc[sell_signal]
buy_dates.index

DatetimeIndex(['2020-05-26', '2020-10-01', '2020-12-23', '2021-03-24',
               '2021-04-26', '2021-08-16', '2021-09-13', '2021-09-21',
               '2022-06-06', '2022-07-15', '2022-08-04', '2022-09-19',
               '2022-11-14', '2022-12-29', '2023-01-31', '2023-02-02',
               '2023-04-18', '2023-08-23', '2023-11-06', '2024-03-27',
               '2024-06-18', '2024-10-21', '2024-10-25'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [26]:
sell_dates.index

DatetimeIndex([], dtype='datetime64[ns]', name='Date', freq=None)

Observations/Comments: 

- After testing my code thoroughly I've noticed that the stock's short MA never dips below the Long MA, which makes sense considering that this is one of the stocks from the S&P 500, so in this case I may want to consider changing my moving average time periods.
- I ended up eliminating the buy and sell boolean columns and just creating one switch column in order to make things more simpler in my code.

For example, a stock dataframe now looks like this:

In [27]:
ticker = yf.download('EA', period='5y', auto_adjust=True)
calculate_short_MA(ticker)
calculate_long_MA(ticker)

def crossover(ticker_data): 
    switch_signal = ticker['Short MA'] > ticker['Long MA']
    ticker['Switch'] = switch_signal

crossover(ticker)
ticker

[*********************100%***********************]  1 of 1 completed

Price,Close,High,Low,Open,Volume,Short MA,Long MA,Switch
Ticker,EA,EA,EA,EA,EA,,,
Date,,,,,,,,
2020-09-08,120.969215,124.083464,120.025207,124.044535,4622600,NaN,NaN,False
2020-09-09,125.251312,126.049346,121.543409,123.149196,2776500,NaN,NaN,False
2020-09-10,123.849922,127.616224,122.954569,126.399719,2460000,NaN,NaN,False
2020-09-11,122.643120,124.949615,121.066535,124.560332,1746600,NaN,NaN,False
2020-09-14,122.798828,124.579785,122.555527,124.501934,1376900,NaN,NaN,False
...,...,...,...,...,...,...,...,...
2025-08-29,171.949997,172.539993,170.669998,171.229996,2090000,167.058677,153.665782,True
2025-09-02,171.449997,173.259995,169.800003,170.000000,2359200,167.843783,154.058156,True
2025-09-03,167.860001,171.960007,167.500000,170.960007,2753100,168.653105,154.374227,True
2025-09-04,168.029999,168.289993,165.529999,168.169998,3410800,169.130800,154.663966,True
2025-09-05,168.619995,169.320007,166.779999,168.839996,2205500,169.782729,154.924289,True